.busqueda{

    display: flex;
    justify-content: center;
    align-items: center;
    
    &__container{
        width: 90%;
        height: pxArem(500);
        padding: pxArem(21);
        background-color: gray;
        border-radius: pxArem(12);
        position: absolute;;
        top: pxArem(100);
        z-index: 11; //corregir con respecto al nav
        
        svg{
            position: absolute;
            right: pxArem(18);
            width: pxArem(33);
            height: pxArem(33);
            &:hover{
                cursor: pointer;
                fill: red;
            }
        }
        h1{
            color: white;
            font-size: pxArem(33);
        }
    }
    &__results{
        width: 100%;
        height: 90%;
        background-color: orange;
        overflow-y: scroll;
        padding: pxArem(15);
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
}

.hidden{
    display: none;
}